.item {
    color: darkslategrey;
}
.header__content{
    width: 100%;
    height: 100px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVGL_D3mIgJr2gAnpuY9bTlAKeOMy3J6pjdw&usqp=CAU");
    background-repeat: repeat-x;
    background-size: cover;
}
